* {
  box-sizing: border-box;
}

/*********/
/* Fonts */
/*********/

@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Champagne-Limousines;
  src: url(/fonts/champagne_limousines/Champagne-Limousines.ttf);
}
@font-face {
  font-family: Champagne-Limousines-Bold;
  src: url(/fonts/champagne_limousines/Champagne-Limousines-Bold.ttf);
}

@font-face {
  font-family: Eurofurence;
  src: url(/fonts/Eurofurence/eurofurence-regular-500.ttf),
    url(/fonts/Eurofurence/eurofurence-light-300.ttf);
}

/********/
/* BASE */
/********/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato-Regular", sans-serif;
  color: #606060;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/***********/
/* Nav bar */
/***********/

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #292929;
  color: #fff;
  padding: 0 43px;
  /* border-bottom: 6px solid #1e1e1e; */
}
nav ul li:hover a {
  color: #58c93a;
}
h1 {
  font-family: "Eurofurence", sans-serif;
  font-size: 50px;
  font-weight: normal;
}

small {
  color: #58c93a;
  font-size: inherit;
}

.btn-menu {
  background-color: #292929;
  color: #fff;
  border: none;
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 50px;
}

/****************/
/* NAV MENU */
/****************/

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s;
}

body.menu-open .screen {
  pointer-events: auto;
  opacity: 1;
}
/****************/
/* Main section */
/****************/

main {
  margin: auto;
  border: 1px solid #e1e0e0;
  padding-top: 80px;
}

article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  padding: 0 40px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

h2 {
  font-family: "Lato-Regular", sans-serif;
  color: #4f4e4e;
  font-size: 32px;
  text-transform: uppercase;
}

.card-content {
  width: 600px;
}

/**********/
/* Footer */
/**********/

footer {
  background-color: #f8f8f8;
  padding: 40px 0;
  height: 100%;
  text-align: center;
}

footer h1 {
  margin-bottom: 1.6rem;
}

.social-link {
  height: 41px;
  width: 41px;
}

.credits {
  color: #a6a6a6;
  font-size: 13px;
  font-family: "Champagne-Limousines", sans-serif;
}

.strong {
  font-family: "Champagne-Limousines-Bold", sans-serif;
}

footer ul {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0;
}

.social-btn {
  margin-inline-end: 24px;
  background-color: #e5e5e5;
  cursor: pointer;
  width: 41px;
  height: 41px;
}
.social-btn img {
  padding: 13px;
}

.social-btn:nth-child(1):hover {
  background-color: #516fad;
}

.social-btn:nth-child(2):hover {
  background-color: #55acee;
}

.social-btn:nth-child(3):hover {
  background-color: #131418;
}

.social-btn:nth-child(4):hover {
  background-color: #ea4c89;
}

/**********/
/* Layout */
/**********/

button.card-btn {
  display: none;
}

.pages-btns {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e0e0;
  padding: 0 20px;
}

.pages-btns button {
  border: none;
  background-color: #fff;
  color: #818181;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Champagne-Limousines-Bold", sans-serif;
  text-transform: uppercase;
  padding: 30px;
}

.social-link {
  height: 41px;
  width: 41px;
}

.credits {
  color: #a6a6a6;
  font-size: 13px;
  font-family: "Champagne-Limousines", sans-serif;
}

.strong {
  font-family: "Champagne-Limousines-Bold", sans-serif;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* MOBILE */
@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    border-inline-start: 1px solid rgb(223, 223, 223);
    background-color: #444;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 0.6s;
    padding: 0;
    margin: 0;
  }

  body.menu-open .menu {
    transform: translateX(0);
  }

  .menu > *:not(:last-child) {
    margin-inline-end: 0;
  }
  .menu a {
    display: block;
    padding: 1.1rem 0;
    font-size: 2rem;
    font-family: lato-regular, sans-serif;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .menu a:hover {
    background-color: #f3f3f3;
  }
}

/* TABLET */
@media only screen and (min-width: 769px) {
  main {
    min-width: 769px;
  }

  .nav-btns ul li {
    padding: 54px 30px;
    border-inline-end: 1px solid #1e1e1e;
    border-inline-start: 1px solid #1e1e1e;
    line-height: 11px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 18px;
    cursor: pointer;
  }

  .btn-menu {
    display: none;
  }

  nav h1 {
    font-size: 40px;
  }

  nav ul li:hover {
    border-bottom: 6px solid #58c93a;
  }

  nav a:hover {
    color: #58c93a;
  }

  article {
    height: 266px;
    margin-bottom: 60px;
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: space-between;
  }

  .card-content {
    width: 50%;
    height: 100%;
  }

  .card-img {
    width: 48%;
    height: 100%;
  }
  .card-img img {
    max-width: 100%;
    max-height: 100%;
  }
  button.card-btn {
    display: block;
    border: 3px solid #c2c1c1;
    color: #c2c1c1;
    background-color: #fff;
    width: 187px;
    height: 41px;
    font-size: 16px;
    margin-top: 13px;
    border-radius: 40px;
    font-family: "Lato-Bold", sans-serif;
  }

  button.card-btn:hover {
    border: 3px solid #58c93a;
    color: #58c93a;
    width: 211px;
  }
  button.card-btn span {
    display: none;
  }
  button.card-btn:hover span {
    display: inline;
    margin-inline-start: 10px;
    font-size: 16px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
  main {
    max-width: 981px;
    margin: auto;
  }

  article {
    margin-bottom: 80px;
    min-height: 309px;
    padding: 0;
  }
  nav {
    display: flex;
    background-color: #292929;
    height: 131px;
    color: #fff;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 377px;
    border-bottom: 6px solid #1e1e1e;
  }

  .card-content button {
    margin-top: 60px;
  }
  .card-img {
    width: 470px;
    height: 309px;
  }
}
